html,body {
	margin : 0px;
	padding: 0px;
}

@font-face {
    font-family: roboto_medium;
    src: url(../fonts/Roboto/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto_regular;
    src: url(../fonts/Roboto/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto_bold;
    src: url(../fonts/Roboto/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto_italic;
    src: url(../fonts/Roboto/Roboto/Roboto-Italic.ttf);
}

.container {
	display: table;
	width: 100vw;
	height: 100vh;
	background-color:#ecf0f1;
}

.wrapper-container{
	display: table-cell;
	vertical-align: middle;
}

.wrapper {
	width:  500px;
	height: 500px;
}

.heading {
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-family: roboto_medium 
}

.input-name{

}

.input-name-input{
	width : 400px;
	height: 40px;
	margin-top: 40px;
	border-radius: 4px;
	border-style: solid;
	border-color : #d7d7d7;
	padding-left : 10px;
	padding-right: 10px;
	font-family: roboto_regular;
	font-size: 16px;
	outline: none;
}

.login-button {
	font-size: 16px;
	font-family: roboto_regular; 
	margin-top: 40px;
	width: 200px;
	height: 50px;
	border-radius: 4px;
	border-style: none;
	border-color : #d7d7d7;
	color : #ffffff;
	cursor:pointer;
	background-color: #34495e;
}

.chatbox-wrapper{
	height: 550px;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color : #d7d7d7;
}

/*chatbox*/
.chatbox{
	height: calc(100% - 50px);
	width: 100%;
	overflow-y: auto;
	/*background-color: blue;*/
}

.send-input{
	display: table;
	width: 100%;
	height: 50px;
}

.send-input-cell{
	display: table-cell;
}

.send-input-input{
	width : calc(100% - 100px);
	height: 100%;
}

.send-input-field{
	width: 100%;
	height: 95%;
	/*border-radius: 4px;*/
	border-style: none;
	/*border-color : #d7d7d7;*/
	padding-left : 10px;
	padding-right: 10px;
	font-family: roboto_regular;
	font-size: 16px;
	outline: none;
}

.send-input-button{
	/*display: table;*/
	width : 100px;
	user-select : none;
	cursor: pointer;
}

.send-input-button-button{
	height: 50px;
}

.me { 
	width : calc(100% - 20px);
	text-align: left;
	padding-left: 20px;
	font-family: roboto_regular;
	font-size: 16px;
	min-height: 40px;
	background-color: #d7d7d7;
	margin-top:10px;
}

.they{
	width : calc(100% - 20px);
	text-align : right;
	padding-right: 20px;
	font-family: roboto_regular;
	font-size: 16px;
	min-height: 40px;
	background-color: #d7d7d7;
	margin-top:10px;
}

.msg-block {
	padding-top : 10px;
	padding-bottom:10px;
	background-color: #d7d7d7;
}

.likes-block {
	padding-top : 10px;
	padding-bottom: 10px;
	user-select:none;
	cursor: pointer;
	color : #34495e;
}